html,body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: tan;
}

.header{
    position: relative;
    width: 800px;
    height: 150px;
    border: 5px solid black;
    margin-left: 200px;
    margin-top: 200px;
    background-color: white;
    text-align: left;
    
}

.logo{
    position: absolute;
    height: 50px;
    width: 350px;
    border: 3px solid black;
    top: 10px;
    left: 10px;
    background-color: coral;
}

.top{
    position: absolute;
    width: 150px;
    height: 27px;
    border: 3px solid black;
    top: 10px;
    right: 10px;
    background-color: coral;
}


.menu{
    position: absolute;
    width: 450px;
    height: 27px;
    border: 3px solid black;
    bottom: 10px;
    right: 10px;
    background-color: coral;
}