html,body{
    width: 100%;
    height: 100%;
    margin: auto;
}

.first{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 70px;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
}

.second{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 250px;
    top: 170px;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    background-color: violet;
    
}

.third{
    position: absolute;
    width: 500px;
    height: 200px;
    left: 110px;
    top: 370px;
    border: 5px solid black;
    text-align: left;
    padding: 10px;
    background-color: chocolate;
}

.fourth{
    position: absolute;
    width: 50;
    height: 450px;
    left: 580px;
    top: 45px;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    background-color: steelblue;
}
