html,body{
    height: 100%;
    width: 100%;
}

.simple{
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 20%;
    font-size: large;
    
    
}

.simple div{
    background-color: tomato;
    height: 700px;
    width: 250px;
    border: 3px solid black;
    box-sizing: border-box;
    margin: 10px;
    justify-content: space-around;
}





